{% extends "base.jinja" %}
{% block content %}

<h3 style="color:aquamarine;">About us</h3>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat obcaecati illum adipisci! </p>
<p>
Odio rem, ullam vero dicta repudiandae porro atque reprehenderit labore consectetur officia numquam molestiae vel corrupti provident?
</p>

{% endblock %}